<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>會員名單</title>
<link rel="stylesheet" th:href="@{/css/listAllPsAndPg.css}" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
<link rel="stylesheet" th:href="@{/css/adminData.css}" />
<link rel="stylesheet" th:href="@{/css/dashboard.css}" />

<script>
	$(document)
			.ready(
					function() {
						var table = $('#example')
								.DataTable(
										{
											"lengthMenu" : [ 3, 5, 7, 10 ], // 設置每頁顯示的資料筆數選項
											"searching" : true, // 開啟搜尋功能
											"paging" : true, // 開啟分頁功能
											"ordering" : false, // 禁用排序功能
											"info" : true, // 顯示當前頁面信息
											"language" : {
												"processing" : "處理中...",
												"loadingRecords" : "載入中...",
												"lengthMenu" : "顯示 _MENU_ 筆結果",
												"zeroRecords" : "沒有符合的結果",
												"info" : "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
												"infoEmpty" : "顯示第 0 至 0 筆結果，共 0 筆",
												"infoFiltered" : "(從 _MAX_ 筆結果中過濾)",
												"search" : "搜尋:",
												"paginate" : {
													"first" : "第一頁",
													"previous" : "上一頁",
													"next" : "下一頁",
													"last" : "最後一頁"
												}
											}
										});
					});
</script>
</head>

<body>

	<!--*************** table#header (上方深色) 區域 **************-->
	<table id="header">
		<tr>
			<td><img th:src="@{/images/admin/pflogow.png}" /> <font>會員名單</font>
				<img th:src="@{/images/admin/pflogow.png}" /></td>
		</tr>
	</table>

	<div th:include="@{back_end/admin/adminData}"></div>

	<!--**************** div#body (中間淺色) 區域 *****************-->
	<div th:include="@{back_end/admin/dashboard}"></div>
	<div id="body">
		<article id="BGcat">
			<img id="BGcat" th:src="@{/images/admin/BGcat.png}" />
		</article>

		<article id="body">
			<h2>會員名單</h2>
			<hr>

			<div th:if="${message}" class="alert alert-success">
				<span th:text="${message}"></span>
			</div>

			<table id="example">
				<thead>
					<tr>
						<th>編號</th>
						<th>姓名</th>
						<th>照片</th>
						<th>信箱</th>
						<th>密碼</th>
						<th>電話</th>
						<th>餘額</th>
						<th>狀態</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="member : ${mebListData}">
						<tr>
							<td th:text="${member.mebId}"></td>
							<td th:text="${member.mebName}"></td>
							<td>
								<!-- 渲染 Meb 證件照 --> <img id="pic"
								th:src="@{/admin/getImgByMebId(mebId=${member.mebId})}" />
							</td>
							<td th:text="${member.mebMail}"></td>
							<td th:text="${member.mebPwd}"></td>
							<td th:text="${member.mebPhone}"></td>
							<td th:text="${member.bal}"></td>
							<td>
								<form th:action="@{/admin/updateMebStatus}" method="post">
									<input type="hidden" th:name="mebId" th:value="${member.mebId}" />
									<select th:name="mebStatus">
										<option value="0" th:selected="${member.mebStatus == '0'}">未驗證</option>
										<option value="1" th:selected="${member.mebStatus == '1'}">已驗證</option>
										<option value="2" th:selected="${member.mebStatus == '2'}">停權</option>
									</select>
									<button id="change" type="submit">修改狀態</button>
								</form>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<button type="submit"
				onclick="window.location.href='/back_end/index'">回首頁</button>
		</article>

		<article id="BGdog">
			<img id="BGdog" th:src="@{/images/admin/BGdog.png}" />
		</article>
	</div>

	<!--*************** footer 區域 **************-->
	<footer>
		<p>Copyright © 2024 ServPET 寵寵唯蹟 All Rights Reserved.</p>
	</footer>

</body>
</html>
