@charset "UTF-8";
*{
    font-family: "Quicksand",sans-serif;
}

/* 背景與文字基本樣式 */
body {
    background-color: #334252;
    color: #fff;
}

header {
    background-color: #334252;
    height: 80px;
    width: 100%;
}

h1 {
    color: antiquewhite;
    position: absolute;
    left: 25px;
    top: 0;
    line-height: 80px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: antiquewhite;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: #334252;
    color: antiquewhite;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.view {
    background-color: #FFEEDD;
    min-height: 100vh;
    padding: 20px 0;
}

.form-container {
    width: 80%;
    margin: 20px auto;
    /*font-family: Arial, sans-serif;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #D9CBCB;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle; /* 與文字對齊 */
}

#schDate,
#schTime {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#schDate label,
#schTime label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #334252;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}