<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>listOneProduct.html</title>
<link rel="stylesheet" href="./style.css">
<link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
	<main>
		<h1>listOneProduct.html</h1>
	</main>
	<a class="navbar-brand" th:href="@{/pdDetails/select_page}"> <img
		th:src="@{/images/back1.gif}"> 回查詢頁 <label th:text="${success}"></label>
	</a>
	<script src="index.js"></script>
</body>
</html>