<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>功能列表 - listAllFnc.html</title>
    <link rel="stylesheet" th:href="@{/css/fnc/listAllFnc.css}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script> <!-- jQuery -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script> <!-- DataTables JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- DataTables CSS -->

    <!-- DataTables 設定 -->
    <script>
    $(document).ready(function() {
        var table = $('#example').DataTable({
            "lengthMenu": [3, 5, 7, 10],  // 設置每頁顯示的資料筆數選項
            "searching": true,  // 開啟搜尋功能
            "paging": true,     // 開啟分頁功能
            "ordering": false,  // 禁用排序功能
            "info": true,       // 顯示當前頁面信息
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋:",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        });
    });
    </script>
</head>

<body>

    <!--*************** table#header (上方深色) 區域 **************-->
    <table id="header">
        <tr>
            <td>
                <img th:src="@{/images/fnc/pflogow.png}"/>
                <font>功能列表</font>
                <img th:src="@{/images/fnc/pflogow.png}"/>
                <h4><a th:href="@{/fnc/select_fnc_page}">回檢索管理頁</a></h4>
            </td>
        </tr>
    </table>

    <!--**************** div#body (中間淺色) 區域 *****************-->
    <div id="body">
        <article>
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>計數</th>
                        <th>編號</th>
                        <th>名稱</th>
                        <th>描述</th>
                        <th>創建</th>
                        <th>更新</th>
                        <th>修改</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="fncVO : ${fncListData}">
                        <tr>
                            <td th:text="${fncVOStat.count}"></td>
                            <td th:text="${fncVO.fncId}"></td>
                            <td th:text="${fncVO.fncName}"></td>
                            <td th:text="${fncVO.fncDes}"></td>
                            <td th:text="${#temporals.format(fncVO.fncCreAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${#temporals.format(fncVO.fncUpdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <form method="post" th:action="@{/fnc/getOne_For_Update}">
                                    <input type="submit" value="修改">
                                    <input type="hidden" name="fncId" th:value="${fncVO.fncId}" />
                                </form>
                            </td>
                            
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </article>
    </div>

    <!--***************** footer (下方深色) 區域 *****************-->
    <footer>
        <p>Copyright © 2024 ServPET 寵寵唯蹟 All Rights Reserved.</p>
    </footer>

</body>
</html>
